# Saving out SC info for baptiste

In [1]:
import napari
from macrohet import dataio, tile, tools, visualise, colours
import os, glob
from tqdm.auto import tqdm
from skimage import io
import numpy as np
from macrohet.notify import send_sys_message as notify
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import zarr
import csv

palette = colours.expanded_piyg
sns.set_theme(style = 'white')
sns.set(font='Nimbus Sans', style = 'white')

# Define a function to remove outliers using IQR
def remove_outliers_iqr(series):
    Q1 = series.quantile(0.25)
    Q3 = series.quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    return series[(series >= lower_bound) & (series <= upper_bound)]

In [2]:
df = pd.read_pickle('/mnt/SYNO/macrohet_syno/manuscript/results/dt_df.pkl')

In [3]:
subset_df = df[df['Experiment ID'] == 'ND0003']

In [4]:
subset_df = subset_df.drop_duplicates(subset = 'ID', keep = 'last')

In [5]:
subset_df = subset_df[subset_df['Time (hours)'] == subset_df['Time (hours)'].max()]

In [6]:
# Ensure the required columns are in the DataFrame
columns_to_save = ['Mtb Area (µm)', 'ID', 'Acquisition ID', 'Compound', 'Concentration', 'Strain', 'r2', 'dt']

# Save the subset DataFrame to a CSV file, including the index
subset_df.to_csv('/mnt/SYNO/macrohet_syno/ND0003/final_frame_mtb_values_ND0003.csv', columns=columns_to_save, index=True)

In [9]:
subset_df[['Mtb Area (µm)', 'ID', 'Acquisition ID', 'Compound', 'Concentration', 'Strain', 'r2', 'dt']]

,Mtb Area (µm),ID,Acquisition ID,Compound,Concentration,Strain,r2,dt
990116,0.000000,226.3.1.ND0003,"(3, 1)",CTRL,EC0,UNI,NaN,NaN
990454,0.000000,178.3.1.ND0003,"(3, 1)",CTRL,EC0,UNI,NaN,NaN
990608,0.000000,181.3.1.ND0003,"(3, 1)",CTRL,EC0,UNI,NaN,NaN
990762,0.000000,170.3.1.ND0003,"(3, 1)",CTRL,EC0,UNI,NaN,NaN
990986,0.000000,168.3.1.ND0003,"(3, 1)",CTRL,EC0,UNI,NaN,NaN
...,...,...,...,...,...,...,...,...
1721378,0.000000,1516.6.12.ND0003,"(6, 12)",BDQ,EC99,RD1,1.0,0.0
1721479,0.000000,1587.6.12.ND0003,"(6, 12)",BDQ,EC99,RD1,NaN,NaN
1721577,0.000000,1622.6.12.ND0003,"(6, 12)",BDQ,EC99,RD1,NaN,NaN
1721911,0.000000,1803.6.12.ND0003,"(6, 12)",BDQ,EC99,RD1,0.759527,-4.8
1722134,2.123104,1874.6.12.ND0003,"(6, 12)",BDQ,EC99,RD1,0.877169,5.375