In [1]:
import os
import pandas as pd
from tqdm.auto import tqdm

In [2]:
# nemo_basedir = '/run/user/30046150/gvfs/smb-share:server=data2.thecrick.org,share=lab-gutierrezm/home/users/dayn'
nemo_basedir = '/mnt/NEMO/home/users/dayn'

# Plotting data usage

In [3]:
locations = ['NEMO', 'SYNO', 'DATA']
expt_IDs = ['PS0000', 'ND0000', 'ND0001', 'ND0002']
quantities = ['N image files', 'Size image folder']

In [4]:
from macrohet.dataio import get_folder_size

In [5]:
data_dict = {}
# Loop through locations, expt_IDs, and quantities to populate the dictionary
for location in tqdm(locations, desc = 'Iterating over different locations'):
    data_dict[location] = {}
    for expt_ID in tqdm(expt_IDs, desc = 'Iterating over expt IDs', leave=False):
        data_dict[location][expt_ID] = {}
        if location == 'NEMO':
            # path = os.path.join(nemo_basedir, f'macrohet_nemo/{expt_ID}/acquisition/Images/')
            path = f'/mnt/NEMO/home/users/dayn/macrohet_nemo/{expt_ID}/acquisition/Images/'
        if location == 'SYNO':
            if expt_ID == 'ND0001':
                path = f'/mnt/SYNO/macrohet_syno/{expt_ID}/acquisition/ND0001__2023-10-27T14_12_54-Measurement 1/Images'
            else:
                path = f'/mnt/SYNO/macrohet_syno/{expt_ID}/acquisition/Images'
        if location == 'DATA':
            path = f'/mnt/DATA/macrohet/{expt_ID}/acquisition/Images/'
        try:
            N_image_files = len(os.listdir(path))
            size_image_folder = f'{get_folder_size(path).GB:.2f}'
        except:
            N_image_files = 0
            size_image_folder = '0GB'

        data_dict[location][expt_ID] = f'{N_image_files} images, {size_image_folder}'

Iterating over different locations:   0%|          | 0/3 [00:00<?, ?it/s]

Iterating over expt IDs:   0%|          | 0/4 [00:00<?, ?it/s]

Iterating over expt IDs:   0%|          | 0/4 [00:00<?, ?it/s]

Iterating over expt IDs:   0%|          | 0/4 [00:00<?, ?it/s]

In [6]:
# Create a pandas DataFrame from the data_dict
pd.DataFrame(data_dict)

,NEMO,SYNO,DATA
PS0000,"4051 images, 22.890746435150504","4051 images, 22.890746435150504","113401 images, 619.2524638548493"
ND0000,"0 images, 0.0","243649 images, 1152.3495325399563","30457 images, 170.79695282503963"
ND0001,"0 images, 0GB","975160 images, 5169.903669335879","0 images, 0GB"
ND0002,"388801 images, 1833.9765179418027","388801 images, 1833.97651973553","0 images, 0GB"

In [46]:
data_df = pd.DataFrame(data_dict)
# Define a function to format decimal values with two decimal places
def format_decimal(str):
    if str == '0 images, 0.0':
        return None
    try:
        value = float(str.split(', ')[-1])
        len = str.split(', ')[0]
        return f'{len}, {value:.2f}GBs'
    except ValueError:
        pass
    return None

# Apply the formatting function to all cells in the DataFrame
data_df.map(format_decimal)

,NEMO,SYNO,DATA
PS0000,"4051 images, 22.89GBs","4051 images, 22.89GBs","113401 images, 619.25GBs"
ND0000,None,"243649 images, 1152.35GBs","30457 images, 170.80GBs"
ND0001,None,"975160 images, 5169.90GBs",None
ND0002,"388801 images, 1833.98GBs","388801 images, 1833.98GBs",None